/* ===| Common CSS Start Here |=== */
body{
    font-family: 'Noto Sans', sans-serif;
}
/* ===| Common CSS End Here |=== */
/* ===| Menu CSS Start Here |=== */
.top-nav a:active{
    border-bottom: 5px solid #0D6EFD;
    background-color: #fff;
}
.bottom-nav a:active{
    border-bottom: 5px solid #0D6EFD;
    background-color: #F8F9FA;
    font-weight: bold;
}

/* ===| Menu CSS Start End |=== */