/* ===| Common CSS Start Here |=== */
body{
    font-family: 'Noto Sans', sans-serif;
}
/* ===| Common CSS End Here |=== */
/* ===| Menu CSS Start Here |=== */
.category-btn {
    border: none;
    outline: none;
    border-radius: 10px;
    transition: .5s;
  }
  .active, .btn:hover {
    background-color: #F8F9FA;
  }
  .btn-active, .category-btn:hover {
    background-color: rgb(0,123,255);
    color: white !important;
  }
/* ===| Menu CSS Start End |=== */